/* font-family and default css reset */

* {

    padding: 0;
    margin: 0;
    font-family: Segoe UI, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 1rem;

}

/* Form Title*/
body {
    background-color: rgb(247, 247, 247);
}

h2 {

    background-color: rgb(0, 162, 255);
    padding: 20px;
    color: white;
    width: 100%;
    text-align: center;
    font-family:  sans-serif;
    font-size: 1.8rem;
    font-weight: 560;
    margin: auto;
}

/* Cotainer divs */

#main-container {

    display: flex;
    flex-direction: column;
    align-self: center;
    position: relative;

}

form {
    
    background-color: white;
    width: 1000px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 1em #CCC;

}

.formContent {

    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    align-items: center;
}

.formbox {

    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;

}

/* Form components and divs*/

label {

    font-weight: 520;

}

input {

    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(100, 100, 100, 0.37);
    transition: 0.25s
}

input:hover {

    border-color: rgba(100, 100, 100, 0.829);

}

input:focus {

    border-color: rgb(0, 162, 255);

}

.fullbox {

    margin: 20px 10px;
    width: 100%;

}

.fullbox input {

    padding: 5px;
    width: 95%;

}


.doublebox {

    display: flex;
    flex-direction: row;
    width: 100%;

}

.halfbox {

    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;

}

.halfbox input {

    padding: 5px;
    width: 100%;

}

.halfbox select {

    width: 90%;
    height: 100%

}

/* agreement checkbox*/

a {

    color: rgb(0, 162, 255);
    text-decoration: none;

}

a:hover {

    color: rgb(2, 112, 175);
    text-decoration: underline;

}

/* register button */

#btn-register {

    width: 250px;
    height: 70px;
    padding: 10px;  
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgb(25, 163, 255);
    border: none;
    border-radius: 3px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    transition: 0.3s;
    margin-bottom: 20px;
    cursor: pointer;

}

#btn-register:hover {

    
    background-color: rgba(25, 163, 255, 0.76);
    -webkit-transform: scale(1.1);
    transform: scale(0.5.1);
    transition: 0.3s;
 

}

#btn-register:focus {

    background-color: rgba(0, 117, 196, 0.733);


}

#btn-register:disabled {

    background-color: rgb(114, 114, 114);
    cursor: default;

}

#btn-register:disabled:hover {

    background-color: rgb(70, 70, 70);
    -webkit-transform: none;
    transform: none;

}

footer {

    width: 100%;
    margin: 20px auto 0px;
    padding-top: 10%;

}

small {

    margin-bottom: 20px;
    text-align: center;
    color: rgb(71, 71, 71);
    font-size: 15px;

}

/* Ajuste de layout */

@media screen and (max-width: 1000px) {

    form {

        margin-top: 0px;
        width: 90%;
        flex-direction: column;

    }

    .formContent {

        flex-direction: column;

    }
    
    .formbox {

        width: 70%;

    }

}

@media screen and (max-width: 700px) {

    #main-container {

        flex-direction: column;

    }

    form {

        width: 100%;
        flex-direction: column;

    }

    .formContent {

        width: 100%;
        flex-direction: column;

    }

    .formbox {

        width: 75%;

    }

    .halfbox {

        width: 50%;

    }
    
}

@media screen and (max-width: 400px) {

    .fullbox {

        width: 100%;

    }

    .formContent {

        flex-direction: column;

    }

    .doublebox {

        flex-direction: column;

    }

    .halfbox {

        width: 100%;

    }
    
}
